.d-block{
    border-radius:20px;
    height:500px;
}

@media only screen and (max-width:768px) {
    .d-block{
        height: 300px;
        width: 450px;
    }
    .sub-slides h4{
        font-size: 50%;
        margin-bottom: 20%;
    }
    .sub-slides h2{
        font-size: 70%;
        margin-bottom: 10%;
    }
}

.sub-slides{
    align-items:center;
    justify-content:center;
}
