.card{
  width: 100%;
  display: flex;
  flex-direction: column;
 }
 .goals-map{
  flex-wrap: wrap;
 }
 .note {
    background: #bff0f4;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: fit-content;
    padding: 4%;
    margin: 30px;
    float: left;
  }
  .note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }
  .note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #e776f8;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
  }
  .form {
    position: relative;
    width: 500px;
    margin: 30px auto 20px auto;
    background: #8cdfed;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }
  .form input,
  .form textarea {
    width: 100%;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  .form button {
    position: absolute;
    right: 24px;
    bottom: -15px;
    background: #e776f8;
    color: #fff;
    border: none;
    border-radius: 40%;
    width: 3%;
    height: 3%;
    font-size: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    padding:0;
  }

  @media (width<=550px){
    .form{
      width:300px;
    }
    .goals-map{
      display: flex;
      flex-direction: column;
    }
    .note{
      width: 350px;
    }
  }